
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr> 
                    <th>סטטוס</th>                  
                    <th>מיקום</th>
                    <th>תאריך</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td>
                        הסתיימה
                    </td>                      
                    <td>חדר ישיבות קומה 2</td>
                    <td>02/09/2020</td>  
                </tr>
                <tr>
                    <td>
                       <a class="done" title="done" data-toggle="tooltip" (click)="done()" ><i class="fa fa-check"></i></a>                          
                   </td>                      
                   <td>אולם קומה 4</td>
                   <td>25/10/2020</td>  
               </tr>        
               <tr>
                <td>
                   <a class="done" title="done" data-toggle="tooltip" (click)="done()" ><i class="fa fa-check"></i></a>                          
               </td>                      
               <td>אולם קומה 4</td>
               <td>25/10/2020</td>  
           </tr>
            </tbody>
        </table>
    </div>
</div>    