<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr> 
                    <th>סטטוס</th>                  
                    <th>מיקום</th>
                    <th> תאריך ושעת סיום  </th>
                    <th> תאריך ושעת התחלה  </th>
                    <th> כותרת המפגש</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meet of this.teamMeetings">
                     <td [ngClass]="this.getStatusClass(meet)">
                        <i class="fas fa-check"></i>
                    </td>                      
                    <td>{{getPlace(meet)}}</td>
                    <td> {{meet.end| date:'medium'}}</td> 
                    <td> {{meet.start| date:'medium'}}</td>   
                    <td>{{meet.title}}</td>
                </tr> 
            </tbody>
        </table>
    </div>
</div> 
