
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="hidden-xs hidden-sm"><img src="../../assets/images/logo.png" height="45"/></span>
            </a>
        </div>
        <div>

            <div id="sk-top-welcome">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <li><button type="button" class="btn btn-danger btn-margin-right navbar-btn" routerLink=""><i
                                class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button></li>
                </ul>
            </div>

            <div id="sk-top-modules">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Staff Meeting</a></li>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Meeting Parent</a></li>
                    <li><a href="#"> מערכת לעובדת <i class="fa fa-calendar" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> צפייה בפרטי ילדים  <i class="fa fa-child" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> מערכת לגן <i class="fa fa-calendar" aria-hidden="true"></i> </a></li>

                </ul>
            </div>

        </div>
    </div>
</nav>
