.topnav a:hover {
  border-bottom: 3px solid #b52f7a ;
}
.topnav i:hover {
  color: #b52f7a ;
}
button{
  background-color:#b52f7a  ;
}
.topnav li {
  margin-right: 30px !important;
}
.calendar{
  border-bottom: 3px solid #b52f7a ;
}