                    <!-- <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Staff Meeting</a></li>
                    <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Meeting Parent</a></li>
                    <li><a href="#"> מערכת לעובדת <i class="fa fa-calendar" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> צפייה בפרטי ילדים  <i class="fa fa-child" aria-hidden="true"></i> </a></li>
                    <li><a href="#"> מערכת לגן <i class="fa fa-calendar" aria-hidden="true"></i> </a></li> -->
                    <div class="container">	
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button type="button" class="btn btn-danger btn-margin-right navbar-btn" routerLink="">
                                <i class="fas fa-sign-in-alt"></i> Sign in</button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto topnav">
                                    <li class="nav-item active"><a class="nav-link" routerLink="/admin-main/parent-meetings"> מפגשי הורים  <i class="fa fa-comments"></i> </a></li>
                                    <li class="nav-item active"><a class="nav-link" routerLink="/admin-main/team-meeting"> מפגשי צוות  <i class="fa fa-comments"></i> </a></li>
                                    <li class="nav-item active"><a class="nav-link" href="#">מערכת לגן  <i class="fa fa-calendar" ></i> </a></li>
                                    <li class="nav-item active calendar"><a class="nav-link" routerLink="/worker-main/Calendar">  מערכת לעובדת  <i class="fa fa-address-book" ></i> </a></li>
                                    <li class="nav-item active"><a class="nav-link" href="#">צפייה בפרטי ילדים  <i class="fa fa-calendar" ></i> </a></li>
                                </ul>
                            </div>
                            
                            <ul class="nav navbar-nav navbar-right">
                                <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" height="45" /></a>
                            
                            </ul>
                      
                        </nav>
                      </div>