<div class="container">	
    <nav class="navbar navbar-expand-lg navbar-light">
        <button type="button" class="btn btn-danger btn-margin-right navbar-btn" routerLink=""><i
            class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">
                     <li class="nav-item active"><a class="nav-link" routerLink="/worker-main/parent-meetings"> מפגשי הורים <i class="fa fa-comments"></i></a></li>
                     <li class="nav-item active"><a class="nav-link" routerLink="/worker-main/team-meetings"> מפגשי צוות <i class="fa fa-users" ></i></a></li>
                     <li class="nav-item active"><a class="nav-link" routerLink="/worker-main/weekly-system"> מערכת לגן <i class="fa fa-calendar" ></i></a></li>
                     <li class="nav-item active"><a class="nav-link" routerLink="/worker-main/weekly-system">  מערכת לעובדת <i class="fa fa-address-book" ></i></a></li>
                     <li class="nav-item active"><a class="nav-link" routerLink="/worker-main/children"> צפייה בפרטי ילדים <i class="fa fa-calendar" ></i></a></li>
                </ul>
          </div>                       
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" height="45" /></a>
          </ul>
     </nav>
 </div>