
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr> 
                    <th>סטטוס</th>                  
                    <th>מיקום</th>
                    <th>תאריך</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td>
                        <a class="done" title="done" data-toggle="tooltip" (click)="done()" ><i class="fa fa-check"></i></a>                          
                    </td>                      
                    <td>****</td>
                    <td>****</td>  
                </tr>
                <tr>
                    <td>
                       <a class="done" title="done" data-toggle="tooltip" (click)="done()" ><i class="fa fa-check"></i></a>                          
                   </td>                      
                   <td>****</td>
                   <td>****</td>  
               </tr>
               <tr>
                <td>
                   <a class="done" title="done" data-toggle="tooltip" (click)="done()" ><i class="fa fa-check"></i></a>                          
               </td>                      
               <td>****</td>
               <td>****</td>  
           </tr>
            </tbody>
        </table>
    </div>
</div>    