
 <!-- <label for="fname">user Name</label>
 <input type="text" [(ngModel)]="username">
 <label for="fname">Password</label>
 <input type="password" [(ngModel)]="password">
<button class="btn" (click)="login()" >Log In</button> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
      
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="שם משתמש">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="סיסמא">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div> -->

  </div>
</div>

