
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
      
    </div>
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="username" name="login" placeholder="שם משתמש">
      <input type="text" id="password" class="fadeIn third" [(ngModel)]="password" name="login" placeholder="סיסמא" for="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()" >
    </form>
  </div>
</div>

