

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title" >
                        סיכום דוח רפואי 
                    </h2>
                </div>
                    <ul class="list-group">
                     <li class="list-group-item">
                     <h4>{{this.accountService.userChild.firstName}} {{this.accountService.userChild.lastName}}</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> תאריך תחילת תקופת טיפול </th>
                                <th> סוג טיפול </th>
                                <th> שעות זכאות </th>
                                <th> הערות מיוחדות </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{this.date|date}}</td>
                                <td>קלינאית תקשורת</td>
                                <td>{{this.accountService.userChild.numHoursConfirm/3}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{this.date|date}}</td>
                                <td>ריפוי בעיסוק</td>
                                <td>{{this.accountService.userChild.numHoursConfirm/3}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{this.date|date}}</td>
                                <td>פיזיותרפיה</td>
                                <td>{{this.accountService.userChild.numHoursConfirm/3}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>