
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                   
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> הוספת ילד</button>
                    </div>
                     <div class="col-sm-4">
                        <select class="form-control">
                            <option></option>
                            <option>גן רבקה</option>
                            <option>גן איטי</option>
                            <option>גן חנה</option>
                          </select>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>ת"ז</th>
                        <th>שעות מאושרות</th>
                        <th>שם</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                         <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                        </td>                      
                        <td>****</td>
                        <td>****</td>
                        <td>****</td> 
                       
                    </tr>
                    <tr> 
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                        </td>
                        <td>Subhash</td>
                        <td>Administration</td>
                        <td>88***88***</td>
                       
                    </tr>
                    <tr>
                         <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                        </td>
                        <td>****</td>
                        <td>****</td>
                        <td>****</td>
                       
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>    