
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">                   
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-secondary add-new" (click)="sendChild()"><i class="fa fa-plus"></i> הוספת ילד</button>
                    </div>
                     <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="selectkng"  (change)="OnchangeGan()">  
                            <option>{{selectkng}}</option>                       
                            <option *ngFor= "let kinderGarden of kinderGardens" >
                             {{kinderGarden.name}}
                            </option>
                          </select>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>מספר שעות מאושרות</th>
                        <th>תעודת זהות</th>
                        <th>שם</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let child of children"> 
                         <td>
                            <a class="edit" title="Edit" data-toggle="tooltip" (click)="edit(child)"><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" (click)="delete(child)"><i class="material-icons"></i></a>                          
                        </td>                      
                        <td>{{child.numHoursConfirm}}</td> 
                        <td>{{child.tz}}</td>
                        <td>{{child.firstName}}  {{child.lastName}}</td>   
                    </tr>             
                </tbody>
            </table>
        </div>
    </div>    