
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">  
    <form class="seminor-login-form">
      <div class="form-group">
        <input  class="form-control" value={{child.firstName}}  name="firstName"  [(ngModel)]="child.firstName"  autocomplete="off" >
        <label class="form-control-placeholder" for="name">שם פרטי</label>
      </div>
      <div class="form-group">
        <input  class="form-control" value={{child.lastName}} name="lastName" [(ngModel)]="child.lastName"  required autocomplete="off">
        <label class="form-control-placeholder" for="name">שם משפחה</label>
      </div>
        <div class="form-group">
        <input type="tz" class="form-control" value={{child.tz}} name="tz" [(ngModel)]="child.tz"  required autocomplete="off">
        <label class="form-control-placeholder" for="name">תעודת זהות</label>
      </div>
      <div class="form-group">
      <label class="select-form-control-placeholder"  for="sel1">לאיזה גן אני נכנס?</label>
       <select class="form-control"  id="sel1" value={{kinderGardenOfChild}} name="sellist1" name="kinderGardenName"   >
         <option></option>
        <option *ngFor= "let kinderGarden of kinderGardens">
           {{kinderGarden.name}}
        </option>
       </select>
      </div>
      <div class="form-group"  >
        <!-- <label class="select-form-control-placeholder" for="sel1">לאיזה גן אני נכנס?</label> -->
        <input type="date" class="form-control" required autocomplete="off" placeholder="תאריך לידה" value={{child.bornDate}}>
        <!-- <label  class="form-control-placeholder" for="name">ה</label> -->
      </div>
      <div class="form-group">
        <input  class="form-control" value={{child.numHoursConfirm}} name="numHoursConfirm" [(ngModel)]="child.numHoursConfirm"  required autocomplete="off">
        <label class="form-control-placeholder" >מספר שעות מאושרות</label>
      </div>
      <button type="submit" class="btn btn-success" (click)="Edit()">עדכן פרטי ילד</button>
    
